{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 bg-white p-4 rounded shadow">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté(e) comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-4 text-center">Me connecter</h1>

                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                    <button class="btn btn-lg btn-primary" type="submit">Me connecter</button>
                    <a href="{{ path('app_register') }}" class="btn btn-secondary btn-lg">M'inscrire</a>
                    <a href="{{ path('forgotten_password') }}" class="btn btn-secondary btn-lg">Mot de passe oublié</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}