{{ form_start(productForm, {'attr': {'class': 'bg-dark text-white p-4 rounded'}}) }}

    {{ form_row(productForm.name, {'attr': {'class': 'form-control bg-secondary text-white border-0 mb-3'}}) }}
    {{ form_row(productForm.description, {'attr': {'class': 'form-control bg-secondary text-white border-0 mb-3'}}) }}
    {{ form_row(productForm.categories, {'attr': {'class': 'form-control bg-secondary text-white border-0 mb-3'}}) }}
    {{ form_row(productForm.price, {'attr': {'class': 'form-control bg-secondary text-white border-0 mb-3'}}) }}
    {{ form_row(productForm.stock, {'attr': {'class': 'form-control bg-secondary text-white border-0 mb-3'}}) }}

    {# Display images if editing #}
    {% if app.request.attributes.get('_route') == 'admin_products_edit' %}
        <h2 class="text-white">Images</h2>
        {% for image in product.images %}
            <div class="mb-2">
                <img src="{{ asset('assets/uploads/products/mini/300x300-' ~ image.name ) }}" alt="Image" width="150">
                <a href="{{ path('admin_products_delete_image', {id: image.id}) }}" class="text-danger" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}
    
    {{ form_row(productForm.images, {'attr': {'class': 'form-control bg-secondary text-white border-0 mb-3'}}) }}

    <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>

{{ form_end(productForm) }}
